.loader-overlay{
    /* position: absolute;
    width: 100vw;
    height: 100vh; */
    background-color: transparent;
    /* top:0%;
    left: 0%;
    z-index: 1000; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width:100%;
   
}

.spinner-border{
    width: 5rem;
    height: 5rem;
}